.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(120, 122, 122, 0.55);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 40%; */
}

.artModal {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    height: 600px;
    width: 520px;
    background-color: rgb(177, 175, 175);
    padding: 5%;
    border-radius: 20px;
    position: relative;
}

.wrap {
    max-width: 100%;
}

h3 {
    font-size: 20px;
    color: rgb(73, 73, 73);
}

.titleInput {
    width: 245px;
}

input,
textarea {
    background-color: gainsboro;
}

.fileInput {
    width: 245px;
}

label {
    margin-left: 32px;
}

.closeIcon {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 22px;
    cursor: pointer;
}

.closeIcon:hover {
    color: red
}

.addButton {
    position: absolute;
    bottom: 3%;
    left: 40%;
}