.articles {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.pageSelectors {
    margin-top: 20px;
    width: 100%;
}

.loadingImg {
    position: absolute;
    top: 20%;
    left: 40%;
}