.fullSection {
    padding: 20px;
}

.articles {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    /* max-width: 90%; */
}

.pageSelectors {
    margin-top: 20px;
    width: 100%;
}

.loadingImg {
    position: absolute;
    top: 20%;
    left: 40%;
}