.topbar {
    position: sticky;
    top: 0;
    z-index: 11;
}

.navClass {
    color: cornflowerblue !important;
}

.logout {
    cursor: pointer;
    margin-right: 60px;
    font-size: 25px;
}

.links {
    font-size: 20px;
    cursor: pointer;
}

.logged {
    margin-top: 7px;
}

.loggedIn {
    color: rgb(203, 207, 201);
}

.username {
    margin-left: 3px;
    font-size: 20px;
    color: rgb(171, 247, 72)
}