.modalBackgroundReg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(120, 122, 122, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 111;
    /* opacity: 40%; */
}

.boxReg {
    height: 450px;
    width: 450px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.registerForm {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

label {
    display: block;
    margin-right: 130px;
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
}

input {
    border: none;
    /* border-bottom: 1px solid black; */
    background-color: rgb(102, 102, 102);
    border-radius: 3px;
    padding: 10px;
}

.regButton {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    /* left: 100px; */
    bottom: -8px;
    right: 93px;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: 7px;
    width: 100px;
    /* margin-left: 50px; */
    /* margin-top: 20px; */
    background-color: rgb(218, 50, 50);
}

.closeButton {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 22px;
    cursor: pointer;
}

.closeButton:hover {
    color: red
}

.inputGroupReg {
    margin-bottom: 85px;
}

.errorInfoReg {
    margin-top: 8px;
    font-size: 15px;
    position: absolute;
    left: 18px;
    color: darkred;
}